# Core
Flask==3.0.3
Flask-SQLAlchemy==3.1.1
Flask-Migrate==4.0.7
psycopg2-binary==2.9.9
SQLAlchemy==2.0.30

# Deployment
gunicorn==23.0.0

# Optional but useful
python-dotenv==1.0.1   # load .env locally
Werkzeug==3.0.4        # ensures compatibility with Flask
